
header{
    background-color: #FCD61A;
    height: 50px;
    color: rgb(0, 0, 0);
    letter-spacing: 1.5px;
    align-items: center;
    padding-top: 10px;
    font-weight: 700;
    padding-left: 7px;
    font-size: 20px;
}



.sub-tittle{
    text-align: center;
}

.form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin-top: 8px;
}

.btn{
    margin-left: 4px;
}

thead{background-color: rgb(13, 63, 82);; border-radius: 1px solid black; color: white;width: 100%;}
tbody{background-color: rgb(241, 237, 182); color:black}